@font-face {
    font-family: 'cs';
      src:  url('fonts/cs.eot?');
      src: url('fonts/cs-icons/cs.eot') format('embedded-opentype'),
      url('fonts/cs-icons/cs.ttf') format('truetype'),
      url('fonts/cs-icons/cs.woff') format('woff');

  
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  /* Comportamentos padrões que podem ser adicionados por classe */
  .b-cs-hover-darkgray:hover{ /* HOVER */
    color: '#666';
  }

  /* Para os ícones funcionarem corretamente em use-buttons */
  .x-btn-icon-el.x-cs {
    font-size: 18px!important;
    height: 14px!important;
    color: #fff;
    line-height: 11px!important;
  }
  
  [class^="cs-"], [class*=" cs-"] {
    /* Se em algum momento tivermos algum problema com variação indevida de fonte que faça com 
       que os ícones não sejam mostrados corretamente, setar todas as propriedades abaixo com !important 
    */
    font-family: 'cs' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Melhorar renderização dos ícones */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .cs-pc2-icms-ipi:before {
    content: "\ea19";
  }
  .cs-pc2-escrita-fiscal:before {
    content: "\ea1a";
  }
  .cs-pc2-ecf:before {
    content: "\ea1b";
  }
  .cs-pc2-ecd:before {
    content: "\ea1c";
  }
  .cs-pc2-contabil:before {
    content: "\ea1d";
  }
  .cs-pc2-reinf:before {
    content: "\ea1e";
  }
  .cs-pc2-presumido:before {
    content: "\ea1f";
  }
  .cs-pc2-pis-cofins:before {
    content: "\ea20";
  }
  .cs-pc2-patrimonio:before {
    content: "\ea21";
  }
  .cs-pc2-lalur:before {
    content: "\ea22";
  }
  .cs-pin-uc-energy:before {
    content: "\ea17";
  }
  .cs-cross-arrow:before {
    content: "\ea18";
  }
  .cs-add-plus:before {
    content: "\ea16";
  }
  .cs-sync:before {
    content: "\ea15";
  }
  .cs-deployed-code-alert:before {
    content: "\ea14";
  }
  .cs-spinner-dots:before {
    content: "\ea12";
  }
  .cs-spinner-line:before {
    content: "\ea13";
  }
  .cs-drag:before {
    content: "\ea11";
  }
  .cs-calendar-refresh:before {
    content: "\ea10";
  }
  .cs-list-edit-alt-alt:before {
    content: "\ea0e";
  }
  .cs-cog-refresh:before {
    content: "\ea0f";
  }
  .cs-calendar-check:before {
    content: "\e94a";
  }
  .cs-calendar-add:before {
    content: "\ea0c";
  }
  .cs-copy-add:before {
    content: "\ea05";
  }
  .cs-link:before {
    content: "\ea06";
  }
  .cs-double-check:before {
    content: "\ea07";
  }
  .cs-check-square:before {
    content: "\ea08";
  }
  .cs-ruler:before {
    content: "\ea09";
  }
  .cs-width:before {
    content: "\ea0a";
  }
  .cs-height:before {
    content: "\ea0b";
  }
  .cs-message-fast:before {
    content: "\e9ff";
  }
  .cs-bot:before {
    content: "\ea00";
  }
  .cs-unlink:before {
    content: "\ea01";
  }
  .cs-sectors-config:before {
    content: "\ea02";
  }
  .cs-chat-forward:before {
    content: "\ea03";
  }
  .cs-refresh-config:before {
    content: "\ea04";
  }
  .cs-item-toggle:before {
    content: "\e9fd";
  }
  .cs-history-toggle:before {
    content: "\e9fe";
  }
  .cs-online-store-assistant:before {
    content: "\e9ea";
  }
  .cs-ascii-218:before {
    content: "\e9eb";
  }
  .cs-ascii-195:before {
    content: "\e9ec";
  }
  .cs-ascii-179:before {
    content: "\e9ed";
  }
  .cs-ascii-204:before {
    content: "\e9ee";
  }
  .cs-ascii-201:before {
    content: "\e9ef";
  }
  .cs-ascii-200:before {
    content: "\e9f0";
  }
  .cs-ascii-194:before {
    content: "\e9f1";
  }
  .cs-ascii-180:before {
    content: "\e9f2";
  }
  .cs-ascii-193:before {
    content: "\e9f3";
  }
  .cs-ascii-191:before {
    content: "\e9f4";
  }
  .cs-ascii-217:before {
    content: "\e9f5";
  }
  .cs-ascii-192:before {
    content: "\e9f6";
  }
  .cs-agroup:before {
    content: "\e9f7";
  }
  .cs-chevron-up:before {
    content: "\e9f8";
  }
  .cs-chevron-left:before {
    content: "\e9f9";
  }
  .cs-chevron-down:before {
    content: "\e9fa";
  }
  .cs-chevron-right:before {
    content: "\e9fb";
  }
  .cs-store-check:before {
    content: "\e9fc";
  }
  .cs-off:before {
    content: "\e9e8";
  }
  .cs-on:before {
    content: "\e9e9";
  }
  .cs-pcp:before {
    content: "\e9e7";
  }
  .cs-status-crisis-alert:before {
    content: "\e9e6";
  }
  .cs-status-cog-progress:before {
    content: "\e9e3";
  }
  .cs-status-hour-glass:before {
    content: "\e9e4";
  }
  .cs-status-warning:before {
    content: "\e9e5";
  }
  .cs-list-edit-alt:before {
    content: "\e9d9";
  }
  .cs-whatsapp-square:before {
    content: "\e9da";
  }
  .cs-support-agent:before {
    content: "\e9db";
  }
  .cs-upload-file:before {
    content: "\e9dc";
  }
  .cs-user-check:before {
    content: "\e9dd";
  }
  .cs-swap:before {
    content: "\e9de";
  }
  .cs-task:before {
    content: "\e9df";
  }
  .cs-user-xmark:before {
    content: "\e9e0";
  }
  .cs-account-circle:before {
    content: "\e9e1";
  }
  .cs-add-comment:before {
    content: "\e9e2";
  }
  .cs-rotate-left:before {
    content: "\e9d7";
  }
  .cs-spinner:before {
    content: "\e9d8";
  }
  .cs-emergency:before {
    content: "\e9d5";
  }
  .cs-account-tree:before {
    content: "\e9d6";
  }
  .cs-m2-pedv-historico:before {
    content: "\e9b4";
  }
  .cs-m2-pedv-historico-analises:before {
    content: "\e9b5";
  }
  .cs-m2-pedv-imposto:before {
    content: "\e9b6";
  }
  .cs-m2-pedv-info:before {
    content: "\e9b7";
  }
  .cs-m2-pedv-itens:before {
    content: "\e9b8";
  }
  .cs-m2-pedv-nota-fiscal:before {
    content: "\e9b9";
  }
  .cs-m2-pedv-notas-anexos:before {
    content: "\e9ba";
  }
  .cs-m2-pedv-novo-item:before {
    content: "\e9bb";
  }
  .cs-m2-pedv-novo-pedido-saldo:before {
    content: "\e9bc";
  }
  .cs-m2-pedv-observacoes:before {
    content: "\e9bd";
  }
  .cs-m2-pedv-pedido:before {
    content: "\e9be";
  }
  .cs-m2-pedv-pedido-cobranca:before {
    content: "\e9bf";
  }
  .cs-m2-pedv-pedido-entrega:before {
    content: "\e9c0";
  }
  .cs-m2-pedv-proposta:before {
    content: "\e9c1";
  }
  .cs-m2-pedv-reserva-estoque:before {
    content: "\e9c2";
  }
  .cs-m2-pedv-tipo-pedido:before {
    content: "\e9c3";
  }
  .cs-m2-pedv-transferir-filial:before {
    content: "\e9c4";
  }
  .cs-m2-pedv-transporte:before {
    content: "\e9c5";
  }
  .cs-m2-pedv-vendedor-supervisor:before {
    content: "\e9c6";
  }
  .cs-m2-pedv-adiantamento:before {
    content: "\e9c7";
  }
  .cs-m2-pedv-almoxarifado:before {
    content: "\e9c8";
  }
  .cs-m2-pedv-analise:before {
    content: "\e9c9";
  }
  .cs-m2-pedv-cancelar:before {
    content: "\e9ca";
  }
  .cs-m2-pedv-copiar:before {
    content: "\e9cb";
  }
  .cs-m2-pedv-cotacao:before {
    content: "\e9cc";
  }
  .cs-m2-pedv-dados-financeiros:before {
    content: "\e9cd";
  }
  .cs-m2-pedv-dados-principais:before {
    content: "\e9ce";
  }
  .cs-m2-pedv-datas:before {
    content: "\e9cf";
  }
  .cs-m2-pedv-email-cancelamento:before {
    content: "\e9d0";
  }
  .cs-m2-pedv-email-lancamento:before {
    content: "\e9d1";
  }
  .cs-m2-pedv-emitir-nota:before {
    content: "\e9d2";
  }
  .cs-m2-pedv-encerrar-pedido:before {
    content: "\e9d3";
  }
  .cs-m2-pedv-faturamento:before {
    content: "\e9d4";
  }
  .cs-format-list-number:before {
    content: "\e9b3";
  }
  .cs-pin:before {
    content: "\e9b2";
  }
  .cs-pen-tool:before {
    content: "\e9b1";
  }
  .cs-warehouse:before {
    content: "\e9b0";
  }
  .cs-bag-shopping:before {
    content: "\e9a8";
  }
  .cs-warning:before {
    content: "\e9a9";
  }
  .cs-sms-failed:before {
    content: "\e9aa";
  }
  .cs-tools-alt:before {
    content: "\e9ab";
  }
  .cs-display-direction:before {
    content: "\e9ac";
  }
  .cs-component:before {
    content: "\e9ad";
  }
  .cs-checklist:before {
    content: "\e9ae";
  }
  .cs-barcode-scanner:before {
    content: "\e9af";
  }
  .cs-similar:before {
    content: "\e9a6";
  }
  .cs-equivalent:before {
    content: "\e9a7";
  }
  .cs-low-priority:before {
    content: "\e9a5";
  }
  .cs-shopping-cart:before {
    content: "\e9a3";
  }
  .cs-persona:before {
    content: "\e9a4";
  }
  .cs-chart-gantt:before {
    content: "\e9a2";
  }
  .cs-document-add:before {
    content: "\e9a1";
  }
  .cs-globe-search:before {
    content: "\e99f";
  }
  .cs-person-search:before {
    content: "\e9a0";
  }
  .cs-help-center:before {
    content: "\e99c";
  }
  .cs-done-all:before {
    content: "\e99d";
  }
  .cs-close:before {
    content: "\e99e";
  }
  .cs-list-search-alt:before {
    content: "\e98c";
  }
  .cs-industry-forward:before {
    content: "\e98d";
  }
  .cs-file-import:before {
    content: "\e98e";
  }
  .cs-file-copy:before {
    content: "\e98f";
  }
  .cs-file-check:before {
    content: "\e990";
  }
  .cs-file-search:before {
    content: "\e991";
  }
  .cs-user-percent:before {
    content: "\e992";
  }
  .cs-users:before {
    content: "\e993";
  }
  .cs-file-info:before {
    content: "\e994";
  }
  .cs-block:before {
    content: "\e995";
  }
  .cs-stock-iso-alt:before {
    content: "\e996";
  }
  .cs-file-link:before {
    content: "\e997";
  }
  .cs-file-forward:before {
    content: "\e998";
  }
  .cs-list-edit:before {
    content: "\e999";
  }
  .cs-list-aim:before {
    content: "\e99a";
  }
  .cs-mail:before {
    content: "\e99b";
  }
  .cs-link-slash:before {
    content: "\e98b";
  }
  .cs-cogs-padlock:before {
    content: "\e98a";
  }
  .cs-link-checked:before {
    content: "\e988";
  }
  .cs-link-document:before {
    content: "\e989";
  }
  .cs-view-list-first:before {
    content: "\e987";
  }
  .cs-icms-ipi:before {
    content: "\e97e";
  }
  .cs-contrib:before {
    content: "\e97f";
  }
  .cs-ecd:before {
    content: "\e980";
  }
  .cs-ecf:before {
    content: "\e981";
  }
  .cs-irpj-csll:before {
    content: "\e982";
  }
  .cs-contabil:before {
    content: "\e983";
  }
  .cs-escrita:before {
    content: "\e984";
  }
  .cs-patrimonio:before {
    content: "\e985";
  }
  .cs-reinf:before {
    content: "\e986";
  }
  .cs-calendar-box:before {
    content: "\e97a";
  }
  .cs-driver:before {
    content: "\e97b";
  }
  .cs-eletric-engineer:before {
    content: "\e97c";
  }
  .cs-user-box:before {
    content: "\e97d";
  }
  .cs-flash:before {
    content: "\e978";
  }
  .cs-flash-outline:before {
    content: "\e979";
  }
  .cs-minus:before {
    content: "\e974";
  }
  .cs-plus:before {
    content: "\e975";
  }
  .cs-view-large-list:before {
    content: "\e976";
  }
  .cs-view-list:before {
    content: "\e977";
  }
  .cs-rabbitmq:before {
    content: "\e96f";
  }
  .cs-historic-money:before {
    content: "\e970";
  }
  .cs-stock-iso-money:before {
    content: "\e971";
  }
  .cs-tools:before {
    content: "\e972";
  }
  .cs-shapes:before {
    content: "\e973";
  }
  .cs-user-money:before {
    content: "\e969";
  }
  .cs-user-origin:before {
    content: "\e96a";
  }
  .cs-user-lightbulb:before {
    content: "\e96b";
  }
  .cs-user:before {
    content: "\e96c";
  }
  .cs-refresh-double-arrow:before {
    content: "\e96d";
  }
  .cs-truck-front:before {
    content: "\e96e";
  }
  .cs-order-alt:before {
    content: "\e967";
  }
  .cs-order:before {
    content: "\e968";
  }
  .cs-receiving:before {
    content: "\e961";
  }
  .cs-giving:before {
    content: "\e962";
  }
  .cs-arrow-left-alt:before {
    content: "\e963";
  }
  .cs-arrow-top-alt:before {
    content: "\e964";
  }
  .cs-arrow-right-alt:before {
    content: "\e965";
  }
  .cs-arrow-down-alt:before {
    content: "\e966";
  }
  .cs-send-to-smartphone:before {
    content: "\e960";
  }
  .cs-users-play:before {
    content: "\e954";
  }
  .cs-clips-and-notes:before {
    content: "\e955";
  }
  .cs-list-add:before {
    content: "\e956";
  }
  .cs-unselect:before {
    content: "\e957";
  }
  .cs-coin-exchange:before {
    content: "\e958";
  }
  .cs-cell-to-cell:before {
    content: "\e959";
  }
  .cs-cell-incoming:before {
    content: "\e95a";
  }
  .cs-target:before {
    content: "\e95b";
  }
  .cs-cell:before {
    content: "\e95c";
  }
  .cs-cell-outgoing:before {
    content: "\e95d";
  }
  .cs-target-outgoing:before {
    content: "\e95e";
  }
  .cs-target-incoming:before {
    content: "\e95f";
  }
  .cs-file-money:before {
    content: "\e953";
  }
  .cs-file-signature:before {
    content: "\e952";
  }
  .cs-arrow-right-rounded:before {
    content: "\e946";
  }
  .cs-arrow-up-rounded:before {
    content: "\e947";
  }
  .cs-arrow-left-rounded:before {
    content: "\e948";
  }
  .cs-arrow-down-rounded:before {
    content: "\e949";
  }
  .cs-money-minus-list-up:before {
    content: "\e94a";
  }
  .cs-money-plus-list-up:before {
    content: "\e94b";
  }
  .cs-money-plus-list-down:before {
    content: "\e94c";
  }
  .cs-money-minus-list-down:before {
    content: "\e94d";
  }
  .cs-handshake:before {
    content: "\e94e";
  }
  .cs-flag:before {
    content: "\e94f";
  }
  .cs-filter:before {
    content: "\e950";
  }
  .cs-filter-times:before {
    content: "\e951";
  }
  .cs-arrow-down-left:before {
    content: "\e93e";
  }
  .cs-arrow-down-right:before {
    content: "\e93f";
  }
  .cs-arrow-left-up:before {
    content: "\e940";
  }
  .cs-arrow-right-up:before {
    content: "\e941";
  }
  .cs-arrow-up-left:before {
    content: "\e942";
  }
  .cs-arrow-up-right:before {
    content: "\e943";
  }
  .cs-arrow-left-down:before {
    content: "\e944";
  }
  .cs-arrow-right-down:before {
    content: "\e945";
  }
  .cs-m2-circle-filled:before {
    content: "\e93a";
  }
  .cs-m2:before {
    content: "\e93b";
  }
  .cs-file-plus:before {
    content: "\e93c";
  }
  .cs-file:before {
    content: "\e93d";
  }
  .cs-search-money:before {
    content: "\e933";
  }
  .cs-loading:before {
    content: "\e931";
  }
  .cs-check:before {
    content: "\e934";
  }
  .cs-times:before {
    content: "\e935";
  }
  .cs-box-times:before {
    content: "\e936";
  }
  .cs-box-check:before {
    content: "\e937";
  }
  .cs-box-loading:before {
    content: "\e938";
  }
  .cs-box:before {
    content: "\e939";
  }
  .cs-file-box-loading:before {
    content: "\e932";
  }
  .cs-file-box-check:before {
    content: "\e92e";
  }
  .cs-file-box-times:before {
    content: "\e92f";
  }
  .cs-file-box:before {
    content: "\e930";
  }
  .cs-decrease-decimal:before {
    content: "\e92c";
  }
  .cs-increase-decimal:before {
    content: "\e92d";
  }
  .cs-money-minus:before {
    content: "\e926";
  }
  .cs-quant-min:before {
    content: "\e927";
  }
  .cs-stock-iso:before {
    content: "\e928";
  }
  .cs-stock-iso-blocked:before {
    content: "\e929";
  }
  .cs-min:before {
    content: "\e92a";
  }
  .cs-money-limit:before {
    content: "\e92b";
  }
  .cs-expand:before {
    content: "\e90b";
  }
  .cs-expand-all:before {
    content: "\e90c";
  }
  .cs-expand-all-alt:before {
    content: "\e917";
  }
  .cs-retract-all:before {
    content: "\e918";
  }
  .cs-retract-all-alt:before {
    content: "\e919";
  }
  .cs-retract:before {
    content: "\e91a";
  }
  .cs-circle-check:before {
    content: "\e91b";
  }
  .cs-circle-diagonal-line:before {
    content: "\e91c";
  }
  .cs-circle-times:before {
    content: "\e91d";
  }
  .cs-refresh:before {
    content: "\e91e";
  }
  .cs-list-revert:before {
    content: "\e91f";
  }
  .cs-list-expand:before {
    content: "\e920";
  }
  .cs-list-retract:before {
    content: "\e921";
  }
  .cs-list-blocked:before {
    content: "\e922";
  }
  .cs-list-check:before {
    content: "\e923";
  }
  .cs-list-search:before {
    content: "\e924";
  }
  .cs-list-times:before {
    content: "\e925";
  }
  .cs-building-incoming:before {
    content: "\e914";
  }
  .cs-building-origin:before {
    content: "\e915";
  }
  .cs-building-outgoing:before {
    content: "\e916";
  }
  .cs-transporter:before {
    content: "\e913";
  }
  .cs-transports:before {
    content: "\e912";
  }
  .cs-car-license-plate:before {
    content: "\e911";
  }
  .cs-padlock-to-unlock:before {
    content: "\e910";
  }
  .cs-padlock-locked:before {
    content: "\e90d";
  }
  .cs-padlock-to-lock:before {
    content: "\e90f";
  }
  .cs-padlock-unlocked:before {
    content: "\e90e";
  }
  .cs-calendar-31:before {
    content: "\e90a";
  }
  .cs-boxes-stock-alt:before {
    content: "\e909";
  }
  .cs-box-layers:before {
    content: "\e908";
  }
  .cs-truck-empty:before {
    content: "\e900";
  }
  .cs-truck-almost-empty:before {
    content: "\e901";
  }
  .cs-truck-half-full:before {
    content: "\e902";
  }
  .cs-truck-almost-full:before {
    content: "\e903";
  }
  .cs-truck-full:before {
    content: "\e904";
  }
  .cs-truck-space-exceeded:before {
    content: "\e905";
  }
  .cs-truck-overweight:before {
    content: "\e906";
  }
  .cs-truck-out-of-weight-space:before {
    content: "\e907";
  }
  