@font-face {
    font-family: "Segoe Italic";
    src: url("fonts/Segoe UI Italic.eot");
    src: url("fonts/segoe-ui/Italic/Segoe UI Italic.eot?#iefix&v=1.1.0") format("embedded-opentype"), 
         url("fonts/segoe-ui/Italic/Segoe UI Italic.woff2") format("woff2"),
         url("fonts/segoe-ui/Italic/Segoe UI Italic.woff") format("woff"), 
         url("fonts/segoe-ui/Italic/Segoe UI Italic.ttf") format("truetype"), 
         url("fonts/segoe-ui/Italic/Segoe UI Italic.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Segoe UI";
    src: url("fonts/segoe-ui/Regular/Segoe UI.eot");
    src: url("fonts/segoe-ui/Regular/Segoe UI.eot?#iefix&v=1.1.0") format("embedded-opentype"), 
         url("fonts/segoe-ui/Regular/Segoe UI.woff2") format("woff2"),
         url("fonts/segoe-ui/Regular/Segoe UI.ttf") format("woff"),  
         url("fonts/segoe-ui/Regular/Segoe UI.tff") format("truetype"), 
         url("fonts/segoe-ui/Regular/Segoe UI.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Segoe UI Light";
    src: url("fonts/segoe-ui/Light/Segoe UI Light.eot");
    src: url("fonts/segoe-ui/Light/Segoe UI Light.eot?#iefix&v=1.1.0") format("embedded-opentype"), 
         url("fonts/segoe-ui/Light/Segoe UI Light.woff2") format("woff2"),
         url("fonts/segoe-ui/Light/Segoe UI Light.woff") format("woff"), 
         url("fonts/segoe-ui/Light/Segoe UI Light.ttf") format("truetype"), 
         url("fonts/segoe-ui/Light/Segoe UI Light.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Segoe UI Bold";
    src: url("fonts/segoe-ui/Bold/Segoe UI Bold.eot");
    src: url("fonts/segoe-ui/Bold/Segoe UI Bold.eot?#iefix&v=1.1.0") format("embedded-opentype"), 
         url("fonts/segoe-ui/Bold/Segoe UI Bold.woff2") format("woff2"),
         url("fonts/segoe-ui/Bold/Segoe UI Bold.woff") format("woff"), 
         url("fonts/segoe-ui/Bold/Segoe UI Bold.tff") format("truetype"), 
         url("../fonts/segoe-ui/Bold/Segoe UI Bold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Segoe UI Semibold";
    src: url("fonts/segoe-ui/Semibold/Segoe UI Semibold.eot");
    src: url("./../resources/fonts/segoe-ui/Semibold/Segoe UI Semibold.eot?#iefix&v=1.1.0") format("embedded-opentype"), 
         url("fonts/segoe-ui/Semibold/Segoe UI Semibold.woff2") format("woff2"),
         url("fonts/segoe-ui/Semibold/Segoe UI Semibold.woff") format("woff"), 
         url("fonts/segoe-ui/Semibold/Segoe UI Semibold.ttf") format("truetype"), 
         url("fonts/segoe-ui/Semibold/Segoe UI Semibold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}